/* 
////// For this challenge ///////

- All text is in the text.md file

// Requirements
1. Refer to the design specs for the
   overall layout 
2. The image should line up with
   the sidebar in the section
   below

*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}
h1 {
  font-size: 3rem;
  margin-top: 0;
}
img {
  max-width: 100%;
}
.hero {
  padding: 100px 0;
  background-color: #23424a;
  color: #fff;
}
.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}
.hero__text {
  width: 60%;
}
.hero p {
  margin-bottom: 3em;
}
.hero__img {
  width: 30%;
  align-self: flex-start;
}
.btn {
  display: inline-block;
  text-decoration: none;
  padding: 0.75em 2em;
  background-color: #38cfd9;
  color: #3a3a3a;
  border-radius: 100px;
  font-weight: 900;
  text-transform: uppercase;
}
.btn:hover,
.btn:focus {
  opacity: 0.75;
}
.row {
  display: flex;
  justify-content: space-between;
}
