*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  /* 48px */
}
.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}
.row {
  display: flex;
  align-items: center;
}
.row p {
  font-size: 1.2rem;
}
.col {
  width: 100%;
  text-align: center;
}
.col + .col {
  margin-left: 1.4em;
}
.hero {
  padding: 100px 0;
  background-color: #23424a;
  color: #fff;
}
.hero:nth-child(2) {
  padding: 60px 0;
  background-color: #fff;
  color: #3a3a3a;
}
.hero:nth-child(3) {
  padding: 30px 0;
  background-color: #136c72;
  color: #fff;
}
.hero:nth-child(3) h2 {
  color: #fff;
}
.hero__text {
  width: 60%;
}
h1 {
  font-size: 3rem;
}
.hero p {
  margin-bottom: 3em;
}
.btn {
  display: inline-block;
  color: #23424a;
  background-color: #38cfd9;
  padding: 0.75em 2em;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 100px;
}
.btn:hover,
.btn:focus {
  opacity: 0.75;
}
.col h2 {
  color: #87629a;
  font-weight: 550;
}
