*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto";
  font-size: 1.3rem;
}
img {
  max-width: 100%;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}
.row {
  display: flex;
  justify-content: space-between;
}
.col {
  width: 100%;
}
.col + .col {
  margin-left: 30px;
}

.hero {
  padding: 100px 0;
  background-color: #23424a;
  color: #fff;
}
.hero__img {
  width: 32%;
  align-self: flex-start;
}
.hero__text {
  width: 62%;
}
.hero__text h1 {
  font-size: 3rem;
  font-family: "Roboto";
  margin-top: 0;
}
.hero__text p {
  margin-bottom: 3em;
}
.hero__text .btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #23424a;
  font-weight: 900;
  background-color: #38cfd9;
  padding: 0.75em 2em;
  border-radius: 100px;
}
.hero__text a:hover,
a:focus {
  opacity: 0.75;
}
.accent-color {
  color: #87629a;
  font-size: 1.75rem;
}
.three-col {
  background-color: #fff;
  text-align: center;
}
.two-col {
  background-color: #136c72;
  color: #fff;
  text-align: center;
}
.row .col > p {
  font-size: 1rem;
  margin-top: 1em;
}
