* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}
.container {
  background-color: #23424a;
  margin: 0 auto;
  width: 80%;
  color: rgb(246, 219, 219);
  padding: 5em;
  height: 300px;
}
